[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrdf2vec = "*"
torch = "*"
numpy = "*"
pandas = "==0.24.2"
matching = "==0.1.1"
scikit-learn = "*"
gensim = "*"
python-Levenshtein = "*"
openea = {editable = true,path = "/path/to/OpenEA"}

[requires]
python_version = "3.7"
