[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrdf2vec = "*"
torch = "*"
numpy = "*"
pandas = "==1.1.1"
matching = "==0.1.1"
scikit-learn = "*"
gensim = "*"
python-Levenshtein = "*"
openea = {editable = true,path = "../OpenEA"}
tensorflow = "==1.15.2"
py-stringmatching = "*"
pytest = "*"
assertpy = "*"
pyyaml = "*"
ipdb = "*"
seaborn = "*"
jupyter = "*"
plotly = "*"
scikit-posthocs = "*"
pyarrow = "*"
rdflib = "*"
sparqlwrapper = "*"
tikzplotlib = "*"
sentence-transformers = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
